@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LigaSFMonoNerdFont';
    src: url('public/fonts/LigaSFMonoNerdFont-Regular.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('public/fonts/SF-Pro-Display-Regular.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SF Pro Display', sans-serif;
}

.gradient-py-text {
    background: linear-gradient(170deg, #4B8ABC 60%, #FED844 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
